.floating-navbar {
  position: fixed;
  top: 20px;
  left: 7%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1b0337;
  border: 1px solid #2B0F4A;
  backdrop-filter: blur(14px);

  border-radius: 30px;
  box-shadow: 0px 0px 9px rgba(112, 214, 194, 0.493);

  padding: 12px 25px;

  width: 88%;    

  gap: 25px;
  z-index: 1000;
}

.nav-logo-link {
  font-size: 20px;
  font-weight: bold;
  color: #00ffcc;
  text-decoration: none;
}

/* Links Layout */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Active / Inactive links */
.active-link {
  color: #ffffff;
  font-weight: bold;
  position: relative;
  text-decoration: none;

}

.inactive-link {
  color: rgba(255, 255, 255, 0.514);
  text-decoration: none;
  transition: 0.3s;
}
.inactive-link:hover {
  color: #ffffff;
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d66305;
  border-radius: 5px;
}

/* Mobile icon */
.hamburger {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.nav-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Responsive */
@media (max-width: 768px) {
  .floating-navbar {
    width: 90%;
    flex-direction: column;
    
    padding: 12px 20px;
    left: 5%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
  }

  .nav-links.open {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hamburger {
    display: block;
  }
}
